*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', Verdana;
}
 
body{
	background: white;
}
 
.clearfix{
	clear: both;
	float: none;
}
 
.container{
	width: 85%;
	margin: 0px auto;
}
 
#main-header{
	background: white;
	height: 100px;
	line-height: 85px;
}
 
.logo{
	width: 63%;
	float: left;
}
 
.logo h1{
	font-weight: bold;
	font-size: 24px;
	color: #FB314E;
 
}
 
.menu{
	width: 380px;
	float: left;
}
 
.menu ul li{
	text-decoration: none;
	list-style: none;
	float:left;
	margin-left: 20px;
	margin-right: 20px;
}
 
.menu ul li a{
	text-decoration: none;
	color: black;
}
 
#slider{
	height: 300px;
	background: #000;
}
 
#slider h2{
	font-size: 40px;
	text-align: center;
	color: white;
	line-height: 290px;
	text-shadow: 0px 0px 6px black;
}
 
.subheader{
	font-size: 34px;
	color: #333;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(251, 49, 78, 0.3);
	padding-bottom: 15px;
}
 
.service, .video{
	width: 33%;
	text-align: center;
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
}
 
.service img, .video iframe{
	margin-bottom: 20px;
}
 
.video iframe{
	width: 80%;
	height: 170px;
}
 
.service h3{
	margin-bottom:10px;
}
 
.service p{
	color: #444;
}
 
#footer{
	background: #333;
	padding-top: 5px;
	padding-bottom:40px;
	text-align: center;
	color: white;
	margin-top:30px;
}
 
#footer .subheader{
	color: white;
}
 
#networks{
	margin: 0px auto;
	display: block;
	list-style: none;
	margin-bottom: 20px;
	width: 216px;
	margin-top: 20px;
}
 
#networks li{
	float:left;
	margin-left: 20px;
	margin-right: 20px;
	transition: all 300ms;
}
 
#networks li:hover{
    transform: rotate(360deg) scale(1.1, 1.1);
}
 
/* Desktops and laptops ----------- */
@media all and (max-width : 1224px) {
	.container{
		width: 95%;
	}
}
 
@media all and (max-width : 1080px) {
	.container{
		width: 95%;
	}
 
	#main-header{
		line-height: 65px;
		height: 68px;
	}
 
	.logo{
		width: 60%;
	}
 
}
 
@media all and (max-width : 987px) {
	.menu ul li{
	    margin-left: 20px;
            margin-right: 20px;
	}
 
	.logo{
		float:none;
		margin: 0px auto;
		width: 218px;
	}
 
	.menu{
		float: none;
		margin: 0px auto;
	}
 
	.service, .video{
		width: 31%;
		margin-left: 10px;
		margin-right: 10px;
	}
}
 
@media all and (max-width : 899px) {
 
	.service, .video{
		width: 70%;
		float: none;
		margin: 0px auto;
		margin-top: 40px;
		margin-bottom: 40px;
	}
 
	.video iframe{
		width: 100%;
	}
}
 
@media all and (max-width : 615px) {
 
	#slider{
		overflow: hidden;
	}
 
	#slider h2{
		font-size: 30px;
	}
}
@media all and (max-width : 460px) {
    
    	#slider h2{
		margin-top: 120px;
                font-size: 25px;
                line-height: 30px;
	}
                .logo{
		text-align: center;
	}
}

@media all and (max-width : 377px) {
 
	.menu{
		width: 100%;
                text-align: center;
	}
 
	.menu ul li{
		margin-left: 4%;
                margin-right: 4%;
	}
}
@media all and (max-width : 345px) {
        #main-header{
                height: auto;
        }
	.menu ul li{
		float: none;
	}

}